.user-card {
    width: 500px;
    padding: 15px;
    border: 1px solid #000;
}

.user-content {
    display: flex;
}

.user-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: red;
}

