<!-- <div class='user-card'>
  <div class='user-content'>
    <div class="user-img"></div>
    <div class='user-data'>
      {{ user.name }} {{ user.surname }}
    </div>
  </div>  
  <app-alerts-container [alerts]="alerts"></app-alerts-container>
  <app-alert-button (onNewAlert)="handleNewAlert($event)"></app-alert-button>
  <app-user-actions [user]="user"></app-user-actions>
</div>

<app-directives></app-directives> -->
<!-- <app-content-template></app-content-template> -->
<!-- <app-template-variables></app-template-variables> -->
<!-- <app-random-numbers>
  <app-random-number></app-random-number>
<app-random-number></app-random-number>
<app-random-number></app-random-number>
<app-random-number></app-random-number>
<app-random-number></app-random-number>
<app-random-number></app-random-number>
<app-random-number></app-random-number>
<app-random-number></app-random-number>
<app-random-number></app-random-number>
<app-random-number></app-random-number>
</app-random-numbers> -->
<div>
  {{ poland | test }}
</div>
<app-reactive-form></app-reactive-form>